.bg-light-c{
    background: #eee !important;
}
.modal {
    --bs-modal-margin: 6.75rem;
}

.text-h{
    transition: 200ms all;
    color:#0D6EFD;
}
.text-h:hover{
    color: #444343;
}

@media(max-width:600){
    .modal-dialog {
        max-width: 10%!important;
    }
    /* .modal[_ngcontent-ng-c3857470196] {
        --bs-modal-margin:10% !important;
    } */
}