<section class="about">
    <div class="container">
        <h1>About Us</h1>
        <div class="content">
            <div class="about-text">
                <h2>Our Story</h2>
                <p>Welcome to our eCommerce store! We are dedicated to providing you with the best online shopping experience. Our journey began in [Year], with a vision to offer a wide range of products at competitive prices, all while ensuring top-notch customer service.</p>
                <p>We believe in the power of eCommerce to bring convenience and choice to shoppers everywhere. From humble beginnings, we've grown into a trusted name in the industry, thanks to our loyal customers and hardworking team.</p>
            </div>
            <div class="about-image">
                <img src="https://img.freepik.com/free-photo/smartphone-with-credit-card-online-purchase-shopping-bag-basket-ecommerce-concept-blue-background-3d-illustration_56104-1798.jpg?t=st=1723225306~exp=1723228906~hmac=4045d375156a95f680e9b5a2e012470951fc438b6c75d6561052f119dbe1d7e8&w=740" alt="Our Team">
            </div>
        </div>
  
    </div>
</section>