<!-- <div class="container">
    <div class="card">
      <div class="container-fliud ">
        <div class="wrapper row align-items-center">
          <div class="preview col-md-4">
            <img [src]="product.imageCover" class="w-100" alt="..." />
          </div>
          <div class="details col-md-6 offset-1 py-2">
            <h3 class="product-title">{{ product.title }}</h3>
            <p class="lead">{{ product.description }}</p>
            <div class="rating">
              <div class="stars ">
                <span class="fa-solid fa-star checked text-warning"></span>
                <span class="fa-solid fa-star checked text-warning"></span>
                <span class="fa-solid fa-star checked text-warning"></span>
                <span class="fa-solid fa-star text-warning"></span>
                <span class="fa-solid fa-star text-warning"></span>
              </div>
              <span class="review-no">{{product.ratingsQuantity}} reviews</span>
            </div>
            <p class="product-description">
              {{product.title}}
            </p>
            <p class="fw-bolder">price :<span class="fw-bold text-danger"> {{product.price}} EGP</span></p>    
            <p class="vote">
              <strong>91%</strong> of buyers enjoyed this product!
              <strong>(87 votes)</strong>
            </p>
            
            <div class="action">
              <button class=" btn btn-success" type="button">
                add to cart
              </button>
              <button class="like btn btn-default" type="button">
                <span class="fa fa-heart text-danger fa-2xl"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->
   <p-toast 
   [style]="{ width: '40vw' }" 
   [showTransformOptions]="'translateY(100%)'" 
       [showTransitionOptions]="'100ms'" 
       [hideTransitionOptions]="'100ms'" 
       [showTransformOptions]="'translateX(100%)'" />
   <div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    
                    <div class="preview-pic tab-content">
                      <div class="tab-pane active" id="pic-1"><img id="mainPic" [src]="imgSrc?imgSrc: product?.imageCover" /></div>
                      @for (item of product?.images; track $index ) {
                        <div class="tab-pane" id="pic-2" ><img (click)="show($event)" [src]="item" /></div>
                      }
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                      <li class="active"><a data-target="#pic-1" data-toggle="tab"><img (click)="show($event)" [src]="product?.imageCover"/></a></li>
                      @for (item of product?.images; track $index ) {
                        <!-- <div class="tab-pane" id="pic-2"><img [src]="item" /></div> -->
                        <li><a data-target="#pic-2" data-toggle="tab"><img [src]="item" (click)="show($event)"/></a></li>
                      }

                    </ul>
                    
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title"> {{product?.title}}</h3>
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <span class="review-no">41 reviews</span>
                    </div>
                    <p class="product-description">{{ product?.description }}</p>
                    <h4 class="price">current price: <span> {{product?.price}} EGP</span></h4>
                    <h5 class="sizes">sizes:
                        <span class="size" data-toggle="tooltip" title="small">s</span>
                        <span class="size" data-toggle="tooltip" title="medium">m</span>
                        <span class="size" data-toggle="tooltip" title="large">l</span>
                        <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
                    </h5>
                    <h5 class="colors">colors:
                        <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
                        <span class="color green"></span>
                        <span class="color blue"></span>
                    </h5>
                    <div class="action">
                        <button (click)="addProdctToCard(product._id)" class="add-to-cart btn btn-default" type="button">add to cart</button>
                        <button (click)="addProdctToWish(product._id)" class="like btn btn-default ms-3" type="button"><span class="fa fa-heart"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>