<p-toast
[style]="{ width: '300px' }" 
[showTransformOptions]="'translateY(100%)'" 
    [showTransitionOptions]="'100ms'" 
    [hideTransitionOptions]="'100ms'" 
    [showTransformOptions]="'translateX(100%)'" />
    <div class="d-flex justify-content-between">
        <div><h2>WishList</h2></div>
        <div class="d-flex gap-3">
            <h4 class="d-inline-block">Count:</h4> <span class="d-inline-block fs-5 text-warning">{{wishList?.count}}</span>
        </div>
        </div>
    <!-- productList.length==0 -->
    @if(1>2){
    <app-loading-screen></app-loading-screen>
    }@else {
        @for(item of wishList?.data; track $index){
            <div class="row border-bottom align-items-center my-1">
                <div class="col-2">
                    <img [src]="item.imageCover"  class="w-100" alt="">
                </div>
                <div class="col-6">
                    <p class="lead">{{item.title}}</p>
                </div>
                <div class="flex gap-2  col-4 text-center ms-auto">
                    <button class="btn btn-danger ms-2 mb-1 mb-md-0" (click)=" removeFromWishList(item.id)">
                        
                        remove
                    </button>
                    <button class="btn btn-success ms-2" (click)="addProdctToCard(item.id)">
                        
                        Add <i class="fa fa-shopping-basket"></i>
                    </button>
                </div>  
                
            </div>
            }
            @empty {
                <div class="text-danger text-center py-2 my-2">Wish is empty</div>

            }
        
          
    }