<p-toast
[showTransformOptions]="'translateY(100%)'" 
    [showTransitionOptions]="'100ms'" 
    [hideTransitionOptions]="'100ms'" 
    [showTransformOptions]="'translateX(100%)'" />
  @if(!isLogedIn){
    <div class="card flex justify-content-center " data-bs-toggle="modal" data-bs-target="#exampleModal">
      <div  class=" card d-flex flex-column align-items-center justify-content-center product-item  rounded border ">
        <div class="product"> <img [src]="item.imageCover" [alt]="item.title|customString">
            <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
                <li class="icon"><i class="fa-solid fa-circle-info"  data-bs-toggle="modal" data-bs-target="#exampleModal"></i></li>
                <li class="icon mx-3"  data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-heart"></i></li>
                <li class="icon"   data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-cart-shopping"></i></li>
            </ul>
          </div>
          <div class="title pt-1 pb-1 small text-danger">{{item.brand.name}}</div>
        <div class="title pt-1 pb-1 small fw-medium">{{item.category.name}}</div>
      <div class="title pt-1 pb-2">{{item.title|customString}}</div>

        <!-- <div class="d-flex align-content-center justify-content-center"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> </div> -->
        <div class="d-flex align-items-center justify-content-center gx-2"> <span>{{item.ratingsAverage}}</span><i class="fa fa-star text-warning fa-2xl"></i></div>
        <div class="price">{{item.price}}<span class="text-success"> EGP</span></div>
    </div>
  </div>
  <app-modal></app-modal>
  }@else {
    <div  class=" card d-flex flex-column align-items-center justify-content-center product-item  rounded border">
      <div class="product"> <img [src]="item.imageCover" [routerLink]="['/product',item._id]" [alt]="item.title|customString">

          <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
              <li class="icon"  [routerLink]="['/product',item._id]"><i class="fa-solid fa-circle-info"></i></li>
              <li class="icon mx-3" (click)="addProdctToWish(item._id)"><i class="fa-solid fa-heart"></i></li>
              <li class="icon"  (click)="addProdctToCard(item._id)"><i class="fa-solid fa-cart-shopping"></i></li>
          </ul>
      </div>
      <div class="title pt-4 pb-1 small text-danger">{{item.brand.name}}</div>
      <div class="title pt-4 pb-1 small">{{item.category.name}}</div>
    <div class="title pt-1 pb-2">{{item.title|customString}}</div>
       <!-- <div class="d-flex align-content-center justify-content-center"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> </div>  -->
      <div class="d-flex align-items-center justify-content-center gx-2"> <span>{{item.ratingsAverage}}</span><i class="fa fa-star text-warning fa-2xl"></i></div>
      <div class="price">{{item.price}}<span class="text-success"> EGP</span></div>
  </div>
  }
 
<!-- Modal -->
    <!-- <div  class=" card d-flex flex-column align-items-center justify-content-center product-item  rounded border ">
          <div class="product"> <img [src]="item.imageCover" [routerLink]="['/product',item._id]" [alt]="item.title|customString">
              <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
                  <li class="icon"><i class="fa-solid fa-circle-info"></i></li>
                  <li class="icon mx-3" (click)="addProdctToWish(item._id)"><i class="fa-solid fa-heart"></i></li>
                  <li class="icon"  (click)="addProdctToCard(item._id)"><i class="fa-solid fa-cart-shopping"></i></li>
              </ul>
          </div>
          <div class="title pt-4 pb-1 small">{{item.category.name}}</div>
        <div class="title pt-1 pb-2">{{item.title|customString}}</div>
           <div class="d-flex align-content-center justify-content-center"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> </div> 
          <div class="d-flex align-items-center justify-content-center gx-2"> <span>{{item.ratingsAverage}}</span><i class="fa fa-star text-warning fa-2xl"></i></div>
          <div class="price">{{item.price}}<span class="text-success"> EGP</span></div>
      </div> -->
 
<!-- </div> -->
<!-- <div class="card position-relative">
  <div class="image-container position-relative">
    <img [src]="item.imageCover" class="card-img-top" [alt]="item.title|customString" />
    <div class="overlay position-absolute top-0 start-0 w-100 h-100"></div>
    <div class="button-container d-flex gx-3 position-absolute top-50 start-50 translate-middle">
      <button class=" btn btn-outline-light btn-sm me-2" >
        <i class="fa fa-heart"></i> Wish
      </button>
      <button class="btn btn-outline-success btn-sm"  (click)="addProdctToCard(item._id)">
        <i class="fa fa-shopping-cart"></i> Cart
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="thumb-content">
      <div class="d-flex justify-content-between position-relative">
        <p class="small">{{item.category.name}}</p>

      </div>
      <h5 class="mb-0 fs-6">{{item.category.name}}</h5>
      <h5 class="text-dark mb-0 fs-6">{{item.price}}<span class="text-success"> EGP</span></h5>
        <div class="d-flex justify-content-between mb-2">
          <p class="text-muted mb-0">Rating: <span class="fw-bold">{{item.ratingsAverage}}</span><i class="fa fa-star text-warning"></i></p>                            
        </div>
  </div>
</div> -->
